button {
  text-transform: uppercase;
}

h2 {
  font-size: 1.25em;
  text-align: center;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

.homeButtons {
  text-align: center;
}

.react-parallax {
  width: auto;
  margin-top: 2em;
}

@media (max-width: 600px){
  .react-parallax div{
    height: 300px;
  }
}

