button {
  text-transform: uppercase;
}

h2 {
  font-size: 1.25em;
  text-align: center;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

.homeButtons {
  text-align: center;
}

.thumbnail img {
  width: auto;
  height: 189px;
  margin-top: 1em;
}

